:root {
    --pacman: rgb(248, 252, 39);
    --blinky: rgb(228, 1, 1);
    --lines: rgb(1, 1, 168);
    --eyes: rgb(40, 40, 250);
    --pellets: rgb(222, 223, 217);
    --box-size: 15px;
  }

* {
    position: absolute;
    background-color: black;
}

.box {

    margin: 100px 200px;
    width: var(--box-size);
    height: var(--box-size);
    box-shadow: 

    /* top line */
    calc(var(--box-size)*5) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*6) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*7) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*8) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*9) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*10) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*11) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*12) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*13) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*14) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*15) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*16) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*17) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*18) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*19) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*20) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*21) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*22) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*23) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*24) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*25) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*26) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*27) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*28) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*29) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*30) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*31) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*32) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*33) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*34) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*35) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*36) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*37) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*38) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*39) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*40) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*41) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*42) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*43) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*44) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*45) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*46) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*47) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*48) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*49) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*50) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*51) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*52) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*53) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*54) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*55) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*56) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*57) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*58) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*59) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*60) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*61) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*62) calc(var(--box-size)*5) var(--lines),
    calc(var(--box-size)*63) calc(var(--box-size)*5) var(--lines), 
    calc(var(--box-size)*64) calc(var(--box-size)*5) var(--lines),

    /* top of blinkys head */
    calc(var(--box-size)*52) calc(var(--box-size)*10) var(--blinky),
    calc(var(--box-size)*53) calc(var(--box-size)*10) var(--blinky),
    calc(var(--box-size)*54) calc(var(--box-size)*10) var(--blinky),
    calc(var(--box-size)*55) calc(var(--box-size)*10) var(--blinky),

    /* start of pacmans head */
    calc(var(--box-size)*12) calc(var(--box-size)*11) var(--pacman),
    calc(var(--box-size)*13) calc(var(--box-size)*11) var(--pacman),
    calc(var(--box-size)*14) calc(var(--box-size)*11) var(--pacman),
    calc(var(--box-size)*15) calc(var(--box-size)*11) var(--pacman),
    calc(var(--box-size)*16) calc(var(--box-size)*11) var(--pacman),

    calc(var(--box-size)*50) calc(var(--box-size)*11) var(--blinky),
    calc(var(--box-size)*51) calc(var(--box-size)*11) var(--blinky),
    calc(var(--box-size)*52) calc(var(--box-size)*11) var(--blinky),
    calc(var(--box-size)*53) calc(var(--box-size)*11) var(--blinky),
    calc(var(--box-size)*54) calc(var(--box-size)*11) var(--blinky),
    calc(var(--box-size)*55) calc(var(--box-size)*11) var(--blinky),
    calc(var(--box-size)*56) calc(var(--box-size)*11) var(--blinky),
    calc(var(--box-size)*57) calc(var(--box-size)*11) var(--blinky),

    calc(var(--box-size)*10) calc(var(--box-size)*12) var(--pacman),
    calc(var(--box-size)*11) calc(var(--box-size)*12) var(--pacman),
    calc(var(--box-size)*12) calc(var(--box-size)*12) var(--pacman),
    calc(var(--box-size)*13) calc(var(--box-size)*12) var(--pacman),
    calc(var(--box-size)*14) calc(var(--box-size)*12) var(--pacman),
    calc(var(--box-size)*15) calc(var(--box-size)*12) var(--pacman),
    calc(var(--box-size)*16) calc(var(--box-size)*12) var(--pacman),
    calc(var(--box-size)*17) calc(var(--box-size)*12) var(--pacman),
    calc(var(--box-size)*18) calc(var(--box-size)*12) var(--pacman),

    calc(var(--box-size)*49) calc(var(--box-size)*12) var(--blinky),
    calc(var(--box-size)*50) calc(var(--box-size)*12) var(--blinky),
    calc(var(--box-size)*51) calc(var(--box-size)*12) var(--blinky),
    calc(var(--box-size)*52) calc(var(--box-size)*12) var(--blinky),
    calc(var(--box-size)*53) calc(var(--box-size)*12) var(--blinky),
    calc(var(--box-size)*54) calc(var(--box-size)*12) var(--blinky),
    calc(var(--box-size)*55) calc(var(--box-size)*12) var(--blinky),
    calc(var(--box-size)*56) calc(var(--box-size)*12) var(--blinky),
    calc(var(--box-size)*57) calc(var(--box-size)*12) var(--blinky),
    calc(var(--box-size)*58) calc(var(--box-size)*12) var(--blinky),

    calc(var(--box-size)*9) calc(var(--box-size)*13) var(--pacman),
    calc(var(--box-size)*10) calc(var(--box-size)*13) var(--pacman),
    calc(var(--box-size)*11) calc(var(--box-size)*13) var(--pacman),
    calc(var(--box-size)*12) calc(var(--box-size)*13) var(--pacman),
    calc(var(--box-size)*13) calc(var(--box-size)*13) var(--pacman),
    calc(var(--box-size)*14) calc(var(--box-size)*13) var(--pacman),
    calc(var(--box-size)*15) calc(var(--box-size)*13) var(--pacman),
    calc(var(--box-size)*16) calc(var(--box-size)*13) var(--pacman),
    calc(var(--box-size)*17) calc(var(--box-size)*13) var(--pacman),
    calc(var(--box-size)*18) calc(var(--box-size)*13) var(--pacman),
    calc(var(--box-size)*19) calc(var(--box-size)*13) var(--pacman),

    calc(var(--box-size)*48) calc(var(--box-size)*13) var(--blinky),
    calc(var(--box-size)*49) calc(var(--box-size)*13) var(--blinky),
    calc(var(--box-size)*50) calc(var(--box-size)*13) var(--blinky),
    calc(var(--box-size)*51) calc(var(--box-size)*13) var(--blinky),
    calc(var(--box-size)*52) calc(var(--box-size)*13) var(--blinky),
    calc(var(--box-size)*53) calc(var(--box-size)*13) var(--blinky),
    calc(var(--box-size)*54) calc(var(--box-size)*13) var(--blinky),
    calc(var(--box-size)*55) calc(var(--box-size)*13) var(--blinky),
    calc(var(--box-size)*56) calc(var(--box-size)*13) var(--blinky),
    calc(var(--box-size)*57) calc(var(--box-size)*13) var(--blinky),
    calc(var(--box-size)*58) calc(var(--box-size)*13) var(--blinky),
    calc(var(--box-size)*59) calc(var(--box-size)*13) var(--blinky),

    calc(var(--box-size)*9) calc(var(--box-size)*14) var(--pacman),
    calc(var(--box-size)*10) calc(var(--box-size)*14) var(--pacman),
    calc(var(--box-size)*11) calc(var(--box-size)*14) var(--pacman),
    calc(var(--box-size)*12) calc(var(--box-size)*14) var(--pacman),
    calc(var(--box-size)*13) calc(var(--box-size)*14) var(--pacman),
    calc(var(--box-size)*14) calc(var(--box-size)*14) var(--pacman),
    calc(var(--box-size)*15) calc(var(--box-size)*14) var(--pacman),
    calc(var(--box-size)*16) calc(var(--box-size)*14) var(--pacman),
    calc(var(--box-size)*17) calc(var(--box-size)*14) var(--pacman),
    calc(var(--box-size)*18) calc(var(--box-size)*14) var(--pacman),
    calc(var(--box-size)*19) calc(var(--box-size)*14) var(--pacman),

    calc(var(--box-size)*48) calc(var(--box-size)*14) var(--blinky),
    calc(var(--box-size)*49) calc(var(--box-size)*14) var(--blinky),
    calc(var(--box-size)*50) calc(var(--box-size)*14) var(--blinky),
    calc(var(--box-size)*51) calc(var(--box-size)*14) var(--blinky),
    calc(var(--box-size)*52) calc(var(--box-size)*14) var(--blinky),
    calc(var(--box-size)*53) calc(var(--box-size)*14) var(--blinky),
    calc(var(--box-size)*54) calc(var(--box-size)*14) var(--blinky),
    calc(var(--box-size)*55) calc(var(--box-size)*14) var(--blinky),
    calc(var(--box-size)*56) calc(var(--box-size)*14) var(--blinky),
    calc(var(--box-size)*57) calc(var(--box-size)*14) var(--blinky),
    calc(var(--box-size)*58) calc(var(--box-size)*14) var(--blinky),
    calc(var(--box-size)*59) calc(var(--box-size)*14) var(--blinky),

    calc(var(--box-size)*8) calc(var(--box-size)*15) var(--pacman),
    calc(var(--box-size)*9) calc(var(--box-size)*15) var(--pacman),
    calc(var(--box-size)*10) calc(var(--box-size)*15) var(--pacman),
    calc(var(--box-size)*11) calc(var(--box-size)*15) var(--pacman),
    calc(var(--box-size)*12) calc(var(--box-size)*15) var(--pacman),
    calc(var(--box-size)*13) calc(var(--box-size)*15) var(--pacman),
    calc(var(--box-size)*14) calc(var(--box-size)*15) var(--pacman),
    calc(var(--box-size)*15) calc(var(--box-size)*15) var(--pacman),
    calc(var(--box-size)*16) calc(var(--box-size)*15) var(--pacman),
    calc(var(--box-size)*17) calc(var(--box-size)*15) var(--pacman),

    /* start of blinkys eyes */
    calc(var(--box-size)*48) calc(var(--box-size)*15) var(--blinky),
    calc(var(--box-size)*49) calc(var(--box-size)*15) #fff,
    calc(var(--box-size)*50) calc(var(--box-size)*15) #fff,
    calc(var(--box-size)*51) calc(var(--box-size)*15) #fff,
    calc(var(--box-size)*52) calc(var(--box-size)*15) #fff,
    calc(var(--box-size)*53) calc(var(--box-size)*15) var(--blinky),
    calc(var(--box-size)*54) calc(var(--box-size)*15) var(--blinky),
    calc(var(--box-size)*55) calc(var(--box-size)*15) #fff,
    calc(var(--box-size)*56) calc(var(--box-size)*15) #fff,
    calc(var(--box-size)*57) calc(var(--box-size)*15) #fff,
    calc(var(--box-size)*58) calc(var(--box-size)*15) #fff,
    calc(var(--box-size)*59) calc(var(--box-size)*15) var(--blinky),

    calc(var(--box-size)*8) calc(var(--box-size)*16) var(--pacman),
    calc(var(--box-size)*9) calc(var(--box-size)*16) var(--pacman),
    calc(var(--box-size)*10) calc(var(--box-size)*16) var(--pacman),
    calc(var(--box-size)*11) calc(var(--box-size)*16) var(--pacman),
    calc(var(--box-size)*12) calc(var(--box-size)*16) var(--pacman),
    calc(var(--box-size)*13) calc(var(--box-size)*16) var(--pacman),
    calc(var(--box-size)*14) calc(var(--box-size)*16) var(--pacman),

    calc(var(--box-size)*47) calc(var(--box-size)*16) var(--blinky),
    calc(var(--box-size)*48) calc(var(--box-size)*16) var(--blinky),
    calc(var(--box-size)*49) calc(var(--box-size)*16) #fff,
    calc(var(--box-size)*50) calc(var(--box-size)*16) #fff,
    calc(var(--box-size)*51) calc(var(--box-size)*16) var(--eyes),
    calc(var(--box-size)*52) calc(var(--box-size)*16) var(--eyes),
    calc(var(--box-size)*53) calc(var(--box-size)*16) var(--blinky),
    calc(var(--box-size)*54) calc(var(--box-size)*16) var(--blinky),
    calc(var(--box-size)*55) calc(var(--box-size)*16) #fff,
    calc(var(--box-size)*56) calc(var(--box-size)*16) #fff,
    calc(var(--box-size)*57) calc(var(--box-size)*16) var(--eyes),
    calc(var(--box-size)*58) calc(var(--box-size)*16) var(--eyes),
    calc(var(--box-size)*59) calc(var(--box-size)*16) var(--blinky),
    calc(var(--box-size)*60) calc(var(--box-size)*16) var(--blinky),

    calc(var(--box-size)*8) calc(var(--box-size)*17) var(--pacman),
    calc(var(--box-size)*9) calc(var(--box-size)*17) var(--pacman),
    calc(var(--box-size)*10) calc(var(--box-size)*17) var(--pacman),
    calc(var(--box-size)*11) calc(var(--box-size)*17) var(--pacman),

    /* pellets begin */
    calc(var(--box-size)*24) calc(var(--box-size)*17) var(--pellets),
    calc(var(--box-size)*25) calc(var(--box-size)*17) var(--pellets),
    calc(var(--box-size)*29) calc(var(--box-size)*17) var(--pellets),
    calc(var(--box-size)*30) calc(var(--box-size)*17) var(--pellets),
    calc(var(--box-size)*34) calc(var(--box-size)*17) var(--pellets),
    calc(var(--box-size)*35) calc(var(--box-size)*17) var(--pellets),
    calc(var(--box-size)*39) calc(var(--box-size)*17) var(--pellets),
    calc(var(--box-size)*40) calc(var(--box-size)*17) var(--pellets),

    calc(var(--box-size)*47) calc(var(--box-size)*17) var(--blinky),
    calc(var(--box-size)*48) calc(var(--box-size)*17) var(--blinky),
    calc(var(--box-size)*49) calc(var(--box-size)*17) #fff,
    calc(var(--box-size)*50) calc(var(--box-size)*17) #fff,
    calc(var(--box-size)*51) calc(var(--box-size)*17) var(--eyes),
    calc(var(--box-size)*52) calc(var(--box-size)*17) var(--eyes),
    calc(var(--box-size)*53) calc(var(--box-size)*17) var(--blinky),
    calc(var(--box-size)*54) calc(var(--box-size)*17) var(--blinky),
    calc(var(--box-size)*55) calc(var(--box-size)*17) #fff,
    calc(var(--box-size)*56) calc(var(--box-size)*17) #fff,
    calc(var(--box-size)*57) calc(var(--box-size)*17) var(--eyes),
    calc(var(--box-size)*58) calc(var(--box-size)*17) var(--eyes),
    calc(var(--box-size)*59) calc(var(--box-size)*17) var(--blinky),
    calc(var(--box-size)*60) calc(var(--box-size)*17) var(--blinky),

    calc(var(--box-size)*8) calc(var(--box-size)*18) var(--pacman),
    calc(var(--box-size)*9) calc(var(--box-size)*18) var(--pacman),
    calc(var(--box-size)*10) calc(var(--box-size)*18) var(--pacman),
    calc(var(--box-size)*11) calc(var(--box-size)*18) var(--pacman),
    calc(var(--box-size)*12) calc(var(--box-size)*18) var(--pacman),
    calc(var(--box-size)*13) calc(var(--box-size)*18) var(--pacman),
    calc(var(--box-size)*14) calc(var(--box-size)*18) var(--pacman),

    calc(var(--box-size)*24) calc(var(--box-size)*18) var(--pellets),
    calc(var(--box-size)*25) calc(var(--box-size)*18) var(--pellets),
    calc(var(--box-size)*29) calc(var(--box-size)*18) var(--pellets),
    calc(var(--box-size)*30) calc(var(--box-size)*18) var(--pellets),
    calc(var(--box-size)*34) calc(var(--box-size)*18) var(--pellets),
    calc(var(--box-size)*35) calc(var(--box-size)*18) var(--pellets),
    calc(var(--box-size)*39) calc(var(--box-size)*18) var(--pellets),
    calc(var(--box-size)*40) calc(var(--box-size)*18) var(--pellets),

    calc(var(--box-size)*47) calc(var(--box-size)*18) var(--blinky),
    calc(var(--box-size)*48) calc(var(--box-size)*18) var(--blinky),
    calc(var(--box-size)*49) calc(var(--box-size)*18) #fff,
    calc(var(--box-size)*50) calc(var(--box-size)*18) #fff,
    calc(var(--box-size)*51) calc(var(--box-size)*18) #fff,
    calc(var(--box-size)*52) calc(var(--box-size)*18) #fff,
    calc(var(--box-size)*53) calc(var(--box-size)*18) var(--blinky),
    calc(var(--box-size)*54) calc(var(--box-size)*18) var(--blinky),
    calc(var(--box-size)*55) calc(var(--box-size)*18) #fff,
    calc(var(--box-size)*56) calc(var(--box-size)*18) #fff,
    calc(var(--box-size)*57) calc(var(--box-size)*18) #fff,
    calc(var(--box-size)*58) calc(var(--box-size)*18) #fff,
    calc(var(--box-size)*59) calc(var(--box-size)*18) var(--blinky),
    calc(var(--box-size)*60) calc(var(--box-size)*18) var(--blinky),

    calc(var(--box-size)*8) calc(var(--box-size)*19) var(--pacman),
    calc(var(--box-size)*9) calc(var(--box-size)*19) var(--pacman),
    calc(var(--box-size)*10) calc(var(--box-size)*19) var(--pacman),
    calc(var(--box-size)*11) calc(var(--box-size)*19) var(--pacman),
    calc(var(--box-size)*12) calc(var(--box-size)*19) var(--pacman),
    calc(var(--box-size)*13) calc(var(--box-size)*19) var(--pacman),
    calc(var(--box-size)*14) calc(var(--box-size)*19) var(--pacman),
    calc(var(--box-size)*15) calc(var(--box-size)*19) var(--pacman),
    calc(var(--box-size)*16) calc(var(--box-size)*19) var(--pacman),
    calc(var(--box-size)*17) calc(var(--box-size)*19) var(--pacman),

    calc(var(--box-size)*47) calc(var(--box-size)*19) var(--blinky),
    calc(var(--box-size)*48) calc(var(--box-size)*19) var(--blinky),
    calc(var(--box-size)*49) calc(var(--box-size)*19) var(--blinky),
    calc(var(--box-size)*50) calc(var(--box-size)*19) var(--blinky),
    calc(var(--box-size)*51) calc(var(--box-size)*19) var(--blinky),
    calc(var(--box-size)*52) calc(var(--box-size)*19) var(--blinky),
    calc(var(--box-size)*53) calc(var(--box-size)*19) var(--blinky),
    calc(var(--box-size)*54) calc(var(--box-size)*19) var(--blinky),
    calc(var(--box-size)*55) calc(var(--box-size)*19) var(--blinky),
    calc(var(--box-size)*56) calc(var(--box-size)*19) var(--blinky),
    calc(var(--box-size)*57) calc(var(--box-size)*19) var(--blinky),
    calc(var(--box-size)*58) calc(var(--box-size)*19) var(--blinky),
    calc(var(--box-size)*59) calc(var(--box-size)*19) var(--blinky),
    calc(var(--box-size)*60) calc(var(--box-size)*19) var(--blinky),

    calc(var(--box-size)*9) calc(var(--box-size)*20) var(--pacman),
    calc(var(--box-size)*10) calc(var(--box-size)*20) var(--pacman),
    calc(var(--box-size)*11) calc(var(--box-size)*20) var(--pacman),
    calc(var(--box-size)*12) calc(var(--box-size)*20) var(--pacman),
    calc(var(--box-size)*13) calc(var(--box-size)*20) var(--pacman),
    calc(var(--box-size)*14) calc(var(--box-size)*20) var(--pacman),
    calc(var(--box-size)*15) calc(var(--box-size)*20) var(--pacman),
    calc(var(--box-size)*16) calc(var(--box-size)*20) var(--pacman),
    calc(var(--box-size)*17) calc(var(--box-size)*20) var(--pacman),
    calc(var(--box-size)*18) calc(var(--box-size)*20) var(--pacman),
    calc(var(--box-size)*19) calc(var(--box-size)*20) var(--pacman),

    calc(var(--box-size)*47) calc(var(--box-size)*20) var(--blinky),
    calc(var(--box-size)*48) calc(var(--box-size)*20) var(--blinky),
    calc(var(--box-size)*49) calc(var(--box-size)*20) var(--blinky),
    calc(var(--box-size)*50) calc(var(--box-size)*20) var(--blinky),
    calc(var(--box-size)*51) calc(var(--box-size)*20) var(--blinky),
    calc(var(--box-size)*52) calc(var(--box-size)*20) var(--blinky),
    calc(var(--box-size)*53) calc(var(--box-size)*20) var(--blinky),
    calc(var(--box-size)*54) calc(var(--box-size)*20) var(--blinky),
    calc(var(--box-size)*55) calc(var(--box-size)*20) var(--blinky),
    calc(var(--box-size)*56) calc(var(--box-size)*20) var(--blinky),
    calc(var(--box-size)*57) calc(var(--box-size)*20) var(--blinky),
    calc(var(--box-size)*58) calc(var(--box-size)*20) var(--blinky),
    calc(var(--box-size)*59) calc(var(--box-size)*20) var(--blinky),
    calc(var(--box-size)*60) calc(var(--box-size)*20) var(--blinky),

    calc(var(--box-size)*9) calc(var(--box-size)*21) var(--pacman),
    calc(var(--box-size)*10) calc(var(--box-size)*21) var(--pacman),
    calc(var(--box-size)*11) calc(var(--box-size)*21) var(--pacman),
    calc(var(--box-size)*12) calc(var(--box-size)*21) var(--pacman),
    calc(var(--box-size)*13) calc(var(--box-size)*21) var(--pacman),
    calc(var(--box-size)*14) calc(var(--box-size)*21) var(--pacman),
    calc(var(--box-size)*15) calc(var(--box-size)*21) var(--pacman),
    calc(var(--box-size)*16) calc(var(--box-size)*21) var(--pacman),
    calc(var(--box-size)*17) calc(var(--box-size)*21) var(--pacman),
    calc(var(--box-size)*18) calc(var(--box-size)*21) var(--pacman),
    calc(var(--box-size)*19) calc(var(--box-size)*21) var(--pacman),

    calc(var(--box-size)*47) calc(var(--box-size)*21) var(--blinky),
    calc(var(--box-size)*48) calc(var(--box-size)*21) var(--blinky),
    calc(var(--box-size)*49) calc(var(--box-size)*21) var(--blinky),
    calc(var(--box-size)*50) calc(var(--box-size)*21) var(--blinky),
    calc(var(--box-size)*51) calc(var(--box-size)*21) var(--blinky),
    calc(var(--box-size)*52) calc(var(--box-size)*21) var(--blinky),
    calc(var(--box-size)*53) calc(var(--box-size)*21) var(--blinky),
    calc(var(--box-size)*54) calc(var(--box-size)*21) var(--blinky),
    calc(var(--box-size)*55) calc(var(--box-size)*21) var(--blinky),
    calc(var(--box-size)*56) calc(var(--box-size)*21) var(--blinky),
    calc(var(--box-size)*57) calc(var(--box-size)*21) var(--blinky),
    calc(var(--box-size)*58) calc(var(--box-size)*21) var(--blinky),
    calc(var(--box-size)*59) calc(var(--box-size)*21) var(--blinky),
    calc(var(--box-size)*60) calc(var(--box-size)*21) var(--blinky),

    calc(var(--box-size)*10) calc(var(--box-size)*22) var(--pacman),
    calc(var(--box-size)*11) calc(var(--box-size)*22) var(--pacman),
    calc(var(--box-size)*12) calc(var(--box-size)*22) var(--pacman),
    calc(var(--box-size)*13) calc(var(--box-size)*22) var(--pacman),
    calc(var(--box-size)*14) calc(var(--box-size)*22) var(--pacman),
    calc(var(--box-size)*15) calc(var(--box-size)*22) var(--pacman),
    calc(var(--box-size)*16) calc(var(--box-size)*22) var(--pacman),
    calc(var(--box-size)*17) calc(var(--box-size)*22) var(--pacman),
    calc(var(--box-size)*18) calc(var(--box-size)*22) var(--pacman),

    /* Blinkys legs */
    calc(var(--box-size)*47) calc(var(--box-size)*22) var(--blinky),
    calc(var(--box-size)*48) calc(var(--box-size)*22) var(--blinky),
    calc(var(--box-size)*49) calc(var(--box-size)*22) var(--blinky),
    calc(var(--box-size)*50) calc(var(--box-size)*22) var(--blinky),
    calc(var(--box-size)*52) calc(var(--box-size)*22) var(--blinky),
    calc(var(--box-size)*53) calc(var(--box-size)*22) var(--blinky),
    calc(var(--box-size)*54) calc(var(--box-size)*22) var(--blinky),
    calc(var(--box-size)*55) calc(var(--box-size)*22) var(--blinky),
    calc(var(--box-size)*57) calc(var(--box-size)*22) var(--blinky),
    calc(var(--box-size)*58) calc(var(--box-size)*22) var(--blinky),
    calc(var(--box-size)*59) calc(var(--box-size)*22) var(--blinky),
    calc(var(--box-size)*60) calc(var(--box-size)*22) var(--blinky),

    calc(var(--box-size)*12) calc(var(--box-size)*23) var(--pacman),
    calc(var(--box-size)*13) calc(var(--box-size)*23) var(--pacman),
    calc(var(--box-size)*14) calc(var(--box-size)*23) var(--pacman),
    calc(var(--box-size)*15) calc(var(--box-size)*23) var(--pacman),
    calc(var(--box-size)*16) calc(var(--box-size)*23) var(--pacman),

    calc(var(--box-size)*48) calc(var(--box-size)*23) var(--blinky),
    calc(var(--box-size)*49) calc(var(--box-size)*23) var(--blinky),
    calc(var(--box-size)*53) calc(var(--box-size)*23) var(--blinky),
    calc(var(--box-size)*54) calc(var(--box-size)*23) var(--blinky),
    calc(var(--box-size)*58) calc(var(--box-size)*23) var(--blinky),
    calc(var(--box-size)*59) calc(var(--box-size)*23) var(--blinky),

    /* bottom line */
    calc(var(--box-size)*5) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*6) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*7) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*8) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*9) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*10) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*11) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*12) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*13) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*14) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*15) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*16) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*17) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*18) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*19) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*20) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*21) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*22) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*23) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*24) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*25) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*26) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*27) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*28) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*29) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*30) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*31) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*32) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*33) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*34) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*35) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*36) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*37) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*38) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*39) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*40) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*41) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*42) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*43) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*44) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*45) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*46) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*47) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*48) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*49) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*50) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*51) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*52) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*53) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*54) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*55) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*56) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*57) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*58) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*59) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*60) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*61) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*62) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*63) calc(var(--box-size)*28) var(--lines),
    calc(var(--box-size)*64) calc(var(--box-size)*28) var(--lines);
}